/cangjie5.dict.yaml
/cangjie5.txt

/5cjbook.zip
/5cjbook/

/key.out
/cscope.out
/valgrind.log

/serialize.out

/Cangjie5.txt
/Cangjie5.gdbm
/Cangjie5_special.txt
/Cangjie5_special.gdbm

/db-5.3.28.tar.gz

/auxiliary_shapes/*.out
/auxiliary_shapes/svg*
